.name_space {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 20px;
    padding-left: 10px;
  }
  .icon_space {
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: left;
    padding-left: 10px;
  }
  .captions {
    padding-left: 10px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: space-evenly;
    align-items: stretch;
  }
  
  .box {
    background-color: lightyellow;
    border: 3px solid black;
    width: 250px;
    height: 500px;
    padding-top: 30px;
    gap: 20px;
    padding-left: 10px;
  }
  
  .profile_box{
    width: 250px;
    height: 500px;
    padding-top: 30px;
    gap: 20px;
    padding-left: 10px;
  }
  
  .category {
    line-height: 2.5;
  }
  
  .icons {
    background-color: black;
    width: 30px;
    height: 30px;
  }
  .image {
    width: 200px;
    height: 200px;
    padding-top: 50px;
    overflow: hidden;
    padding-left: 10px;
  }
  
  .main {
    font-family: arial;
  }
  
  .nav {
    background-color: lightpink;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding-left: 30px;
  }
  
  .body {
    background-color: black;
    width: 300px;
    height: 30px;
  }
  
  .search {
    height: 550px;
  }
  
  .footer {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 60px;
  }
  